.ion-card-map {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.ion-card-title--description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
  text-align: right;
}

ion-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  > p {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
}