<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button (click)="presentActionSheet()" expand="block" color="dark" fill="outline">Gasolina</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let station of fuelStation">
    <ion-item>
      <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
      <ion-label>{{ station.nomFantasia }}</ion-label>
      <ion-button fill="outline" slot="end">Mapa</ion-button>
    </ion-item>
  
    <ion-card-content>
      <ion-card-title>{{ station.valUnitarioUltimaVenda | currency:'BRL':true }}</ion-card-title>
      <br/>
      <ion-card-subtitle [style.fontSize]="'13px'">{{ station.nomLogradouro }} - {{ station.nomBairro }}</ion-card-subtitle>
      <ion-card-subtitle [style.fontSize]="'13px'">{{ station.nomMunicipio}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>
